.skill-bar {
  background-color: var(--light-green);
}
.skill-bar,
.skill-progress {
  height: 40px;
}
.skill-progress {
  background-color: var(--green);
  width: 0;
}
.animate-bar {
  animation: animate-progress 2.5s ease-in-out;
  width: 100%;
}
@keyframes animate-progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
