.animate-fadein-up {
  animation: fadein-up 1s both;
}
.fadein-up {
  opacity: 0;
}
.work-card-left .work-card-logo--image {
  translate: 0px -30px !important;
}
.work-card-right .work-card-logo--image {
  translate: -120px -30px;
}
.work-card-logo--image {
  min-height: 300px;
  width: 140%;
  z-index: 2;
}
@keyframes fadein-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-box-fadein-up {
  animation: box-fadein-up 1s both;
}
@keyframes box-fadein-up {
  from {
    transform: translate(0, 200px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
