.floating-links .row {
  position: absolute;
  right: -7vw;
  gap: 20px 0;
}
.floating-links .container {
  position: relative;
}
.floating-links {
  position: fixed;
  top: 50%;
  z-index: 5;
  width: 100%;
  padding: 0;
}
.floating-links a.hide-links {
  margin-right: -100px;
  opacity: 0;
}
.floating-links a {
  padding: 10px;
  background-color: var(--light-green);
  border-radius: 10px;
}
@media (max-width: 1560px) {
  .floating-links .row {
    right: 1vw;
  }
}
@media (max-width: 1300px) {
  .floating-links .row {
    right: 3vw;
  }
}
@media (max-width: 1024px) {
  .floating-links .row {
    flex-direction: row;
    gap: 0 20px;
    right: 50%;
    transform: translate(50%, 0);
  }
  .floating-links {
    top: unset;
    bottom: 5%;
  }
  .floating-links a.hide-links {
    margin-right: unset;
    margin-bottom: -100px;
  }
}
