.floating-links .row {
  gap: 20px;
}
.floating-links {
  position: fixed;
  right: 12%;
  top: 50%;
  z-index: 5;
  overflow: hidden;
}
.floating-links a.hide-links {
  margin-right: -100px;
  opacity: 0;
}
.floating-links a {
  padding: 10px;
  background-color: var(--light-green);
  border-radius: 10px;
}
