.footer {
  margin-top: -50px;
  position: relative;
}
.footer .container-wide {
  min-height: 512px;
  position: relative;
  z-index: 3;
}
.footer .row {
  min-height: 400px;
}
.footer-item-heading {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}
.footer-items {
  gap: 30px 0;
}
.footer .portfolio-links {
  gap: 0 20px;
}
.footer-item-text {
  font-size: 20px;
  font-weight: 600;
}
.footer-image-left {
  background-image: url(/assets/imgs/footer-image-left.png);
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
}
.footer-image-right {
  background-image: url(/assets/imgs/footer-image-right.png);
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  background-position-x: 100%;
}
/* Responsiveness */
@media (max-width: 1450px) {
  .footer-image-left {
    background-position-x: -100px;
  }
  .footer-image-right {
    background-position-x: 105%;
  }
}
@media (max-width: 1024px) {
  .footer-image-left {
    background-position-x: -150px;
  }
  .footer-image-right {
    background-position-x: 115%;
  }
}
@media (max-width: 991px) {
  .footer-image-left {
    background-position-x: -260px;
  }
  .footer-image-right {
    background-position-x: 135%;
  }
}
@media (max-width: 767px) {
  .footer {
    margin-top: -20px;
  }
  .footer .row {
    min-height: 250px;
  }
  .footer .container-wide {
    min-height: 400px;
    position: relative;
    z-index: 3;
  }
  .footer-image-right {
    background-position-x: 60vw;
  }
  .footer-image-left {
    background-position-x: -310px;
  }
  .footer-item-heading {
    font-size: 20px;
  }
  .footer-item-text {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .footer-image-left {
    background-position-x: -400px;
  }
  .footer-image-right {
    background-position-x: 70vw;
  }
}
@media (max-width: 480px) {
  .footer-image-left {
    background-position-x: -460px;
  }
}
