.hero-banner {
  height: 100%;
}
.portfolio-profile {
  gap: 0 50px;
}
.hero-banner .row {
  position: relative;
}
.hero-banner .portfolio-introduction {
  gap: 10px 0;
}
.hero-banner .portfolio-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}
.hero-banner .anchor-bottom {
  border-radius: 50px;
}
.hero-banner .portfolio-links {
  gap: 0 20px;
}
.hero-banner .anchor-bottom:hover svg rect {
  stroke: var(--green-white);
  fill: var(--light-green);
}
.hero-banner .anchor-bottom:hover svg path {
  fill: var(--green-white);
}
.hero-banner .portfolio-footer a:hover svg {
  animation: bounce 1s ease-in-out infinite;
}
caret {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}
