.project-card {
  min-height: 340px;
  width: calc(50% - 30px);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  text-decoration: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
  }
}
.project-card svg,
.project-card svg path,
.project-card-inner-container,
.project-title div {
  transition: all 0.3s ease-in-out;
}

.project-card:hover {
  svg {
    transform: rotate(-130deg);
  }
  svg path {
    fill: var(--white);
  }
  .project-card-inner-container {
    background-color: var(--green);
  }
  .project-title .main-title {
    margin-top: -24px;
  }
}
.project-deck {
  gap: 30px;
  flex-wrap: wrap;
}
.project-card-inner-container {
  padding: 25px;
  background-color: var(--light-green);
  border-radius: 20px;

  .project-title div {
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
  }
  svg {
    transform: rotate(-90deg);
  }
  svg path {
    fill: var(--white);
  }
}
.work-card-logo {
  z-index: 2;
}
.work-card-logo--image img {
  max-width: 300px;
  object-fit: contain;
}
.project-title {
  height: 24px;
  overflow: hidden;
  margin: 20px 0;
}
.visit-project {
  gap: 10px;
}
.visit-project span {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}
.details {
  gap: 0 10px;
}
.wcl--year {
  gap: 10px 0;
  font-weight: 600;
  min-height: 100px;
  overflow: hidden;
}
.work-card-right .horizontal-line.horizontal-line {
  transform: translateX(-295px);
}
.work-card-left .horizontal-line.horizontal-line {
  transform: translateX(295px);
}
.work-card-left .wcl--year span {
  text-align: left;
}
.horizontal-line {
  height: 3px;
  background-color: var(--dark);
  width: 100%;
  opacity: 0;
}
.wcl--text {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-align: right;
  min-height: 38px;
  position: relative;
}
.wcl--up {
  transform: translateY(40px);
}
.wcl--year span {
  text-align: right;
  position: absolute;
  right: 0;
  width: 100%;
}
.wcl--bottom {
  transform: translateY(-40px);
}
.wcl--up.animate-element,
.wcl--bottom.animate-element {
  transition: all 1s ease-in-out 1s;
  transform: translateY(0);
}
.horizontal-line.animate-element {
  opacity: 1;
  transform: translateX(0) !important;
  transition: all 0.6s ease-in-out 0.8s;
}
.work-card {
  gap: 80px 0;
}
.work-card-body {
  background-color: var(--light-green);
  min-height: 600px;
  min-width: 70%;
  padding: 50px 80px;
}
.work-card-body div {
  max-width: 80%;
  margin: 0 auto;
}
.work-skill-list li {
  display: flex;
  align-items: center;
  gap: 0 20px;
  max-width: 90%;
  padding-bottom: 20px;
}
.work-skill-list svg {
  margin-bottom: -10px;
}
/* Responsiveness */
@media screen and (max-width: 1250px) {
  .work-card-logo {
    width: 30% !important;
  }
  .work-card-body {
    width: 65%;
    min-width: unset;
  }
}
@media screen and (max-width: 1024px) {
  .visit-project svg {
    transform: rotate(-130deg);
  }
}
@media screen and (max-width: 991px) {
  .project-deck {
    justify-content: center;
  }
  .project-card {
    width: 70%;
    min-height: unset;
  }
  .work-card-right .work-card-container {
    flex-direction: column-reverse;
    gap: 30px 0;
  }
  .work-card-right .work-card-container,
  .work-card-left .work-card-container {
    gap: 30px 0;
  }
  .work-card-left .work-card-container {
    flex-direction: column;
  }
  .work-card-left .work-card-logo {
    flex-direction: row-reverse;
  }
  .work-card-logo {
    width: 90% !important;
    height: unset !important;
    flex-direction: row;
    align-items: center;
  }
  .work-card-logo--image {
    width: 100%;
  }
  .work-card-right .work-card-logo--image {
    translate: 0;
  }
  .work-card-body {
    width: 90%;
    min-width: unset;
  }
  .work-card-logo--image,
  .wcl--year {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .project-card {
    width: 90%;
  }
  .work-card-logo--image,
  .wcl--year,
  .work-card-logo,
  .work-card-body {
    width: 100% !important;
  }
  .work-card-left .work-card-logo,
  .work-card-right .work-card-logo {
    flex-direction: column;
  }
  .work-card-body div {
    min-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .project-card {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .project-card-inner-container {
    padding: 15px;
  }
  .project-title {
    margin: 10px 0;
  }
  .work-card-body {
    min-height: 200px;
    padding: 20px 50px;
  }
  .work-card-logo--image {
    min-height: unset;
    height: 250px;
  }
}
